body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#info{
	padding: 8px;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 500px;	
	position: absolute;
}
.info-item{
	display: flex;
	height: 22px;
	width: 64px;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-top: 10px;
	
}

input[type=file]{
	font-size: 12px;
	margin-top: 10px;
}

#info div{
	width: 200px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*background: greenyellow;*/
}

#maps{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	position: absolute;
	z-index: 50px;
	width: 100px;
	right:20px;
	top: 30px;
}


